

.container {
    background-color: #1c1c1c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #d9d9d9;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 300px;
    background-color: #363636;
}

.titulo h1 {
    margin-left: 20px;
    margin-right: 20px;
    color: #5c7196;
}

.info {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60vh;
    padding: 40px;
    color: white;
    font-size: large;
}

.info div p {
    line-height: 28px;
}

.infoContainer {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.listado {
    padding: 30px;
    margin-left: 5%;
    line-height: 35px;
}

.listadoCertificaciones {
    padding: 30px;
    margin-left: 5%;
    line-height: 45px;
    cursor: pointer;
}

.listadoCertificaciones a {
    text-decoration-color: #1c1c1c;
}

.listadoCertificaciones li:hover {
    text-decoration: underline;
}

.habilidades {
    border: 1px solid grey;
    padding: 20px;
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
    height: 45vh;
}

.certificaciones {
    border: 1px solid grey;
    padding: 20px;
    flex: 1;
    margin-left: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .infoContainer {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 90%;
    }

    .container {
        height: 190vh;
    }

    .certificaciones,
    .habilidades {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
    }

    .listadoCertificaciones {
        line-height: 35px;
    }
}


