

.container {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    height: 150vh;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #d9d9d9;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 300px;
    background-color: #363636;
}

.titulo h1 {
    margin-left: 20px;
    margin-right: 20px;
    color: #5c7196;
}

.info {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 60vh;
    color: white;
    font-size: large;
}

.info div p {
    line-height: 28px;
}

.infoContainer {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.listado {
    padding: 30px;
    margin-left: 5%;
    line-height: 35px;
}

.listadoCertificaciones {
    padding-top: 20px;
    line-height: 45px;
    cursor: pointer;
}

.listadoCertificaciones a {
    text-decoration-color: #1c1c1c;
}

.listadoCertificaciones li:hover {
    text-decoration: underline;
}

.habilidades {
    border: 1px solid grey;
    padding: 20px;
    flex: 1;
    margin-right: 10px;
    border-radius: 10px;
}

.certificaciones {
    border: 1px solid grey;
    padding: 20px;
    flex: 1;
    margin-left: 10px;
    border-radius: 10px;
}

.containerTec {
    display: flex;
    gap: 10px;
    align-items: center;
}

.html {
    background-image: url('/src/img/html5-logo-24.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.nodejs {
    background-image: url('/src/img/nodejs-logo-48.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.react {
    background-image: url('/src/img/react-logo-48.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.mongo {
    background-image: url('/src/img/mongodb-logo-48.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.css {
    background-image: url('/src/img/css3-logo-24.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.python {
    background-image: url('/src/img/python-logo-24.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.javascript {
    background-image: url('/src/img/javascript-logo-24.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.typescript {
    background-image: url('/src/img/typescript-logo-24.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.nestjs {
    background-image: url('/src/img/nestjs.svg');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.containerCert {
    display: flex;
    gap: 20px;
    align-items: center;
}


.imgCert {
    background-image: url('/src/img/certification-regular-24.png');
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

.containerCert a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .infoContainer {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 90%;
    }

    .container {
        height: 220vh;
    }

    .certificaciones,
    .habilidades {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
        margin-right: 0;
    }

    .listadoCertificaciones {
        line-height: 35px;
        font-size: 15px;
    }
}


