
.container {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #d9d9d9;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #363636;
}

.title h1 {
    margin-left: 20px;
    margin-right: 20px;
    color: #5c7196;
}

.info {
    color: white;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.info div {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5%;
}

.info div:hover {
    text-decoration: underline;
}


.info div a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    width: 300px;
}

.gmailLogo {
    background-image: url('/src/img/gmail-logo-48.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 0;
}

.phoneLogo {
    background-image: url('/src/img/phone-solid-48.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.linkedinLogo {
    background-image: url('/src/img/linkedin-logo-48.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 3%;
}

.githubLogo {
    background-image: url('/src/img/github-logo-48.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 3%;
}