

.container {
    background-image: url('/src/img/download.jpeg');
    min-height: 100vh;
    padding-top: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #d9d9d9;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #363636;
}

.title h1 {
    margin-left: 20px;
    margin-right: 20px;
    color: #5c7196;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
}

.proyecto h2 {
    margin-bottom: 3%;
    border-bottom: 1px solid grey;
}

.proyecto p {
    line-height: 25px;
}

.tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 5%;
}

.tecnologias a img {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.screen {
    margin-top: 3%;
}

.screenNative {
    margin-top: 3%;
    display: flex;
    gap: 40px;
}

.screens {
    background-size: 100% 100%;
    width: 55vw;
    height: 25vw;
}

.screensResto {
    width: 21vw;
    height: 25vw;
    border-radius: 10px;
}

.screensRestoMob {
    width: 40vw;
    height: 50vw;
    border-radius: 10px;
}

.screensMob {
    width: 85vw;
    height: 55vw;
    border-radius: 10px;
}

.screensMobile {
    width: 58vw;
    height: 105vw;
    border-radius: 10px;
}

.screensNative {
    width: 12vw;
    height: 23vw;
    border-radius: 15px;
}

.logo {
    background-size: contain;
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 768px) {
    .title {
        margin-bottom: 80px;
    }

    .proyecto {
        width: 70%;
        padding-bottom: 25%;
    }

    .proyecto h2 {
        margin-bottom: 20px;
    }

    .tecnologias {
        width: 100%;
        margin-top: 10%;
    }

    .tecnologias a {
        margin-right: 10px;
    }

    .screen {
        margin-top: 10%;
    }

    .screenAllNew,
    .screenAromas {
        width: 80vw;
        height: 40vw;
    }

    .container {
        padding-top: 60px;
    }

    .screenNative {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .screensNative {
        width: 38vw;
        height: 68vw;
    }

}



