

.container {
    background-color: #1c1c1c;
    min-height: 100vh;
    padding-top: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: #d9d9d9;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: #363636;
}

.title h1 {
    margin-left: 20px;
    margin-right: 20px;
    color: #5c7196;
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
}

.proyecto h2 {
    margin-bottom: 3%;
    border-bottom: 1px solid grey;
}

.proyecto p {
    line-height: 25px;
}

.tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.tecnologias a img {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.screen {
    margin-top: 3%;
}

.screenAromas {
    background-image: url('/src/img/aromasplcScreen.png');
    background-size: 100% 100%;
    width: 55vw;
    height: 25vw;
}

.screenAllNew {
    background-image: url('/src/img/allnewstyleScreen.png');
    background-size: 100% 100%;
    width: 55vw;
    height: 25vw;
}

.javascriptLogo {
    background-image: url('/src/img/javascript-logo-48.png');
    background-size: contain;
    width: 50px;
    height: 50px;
}

.reactLogo {
    background-image: url('/src/img/react-logo-48.png');
    background-size: contain;
    width: 50px;
    height: 50px;
}

.nodejsLogo {
    background-image: url('/src/img/nodejs-logo-48.png');
    background-size: contain;
    width: 50px;
    height: 50px;
}

.mongodbLogo {
    background-image: url('/src/img/mongodb-logo-48.png');
    background-size: contain;
    width: 50px;
    height: 50px;
}

.firebaseLogo {
    background-image: url('/src/img/firebase-logo-48.png');
    background-size: contain;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .title {
        margin-bottom: 80px;
    }

    .proyecto {
        width: 70%;
        padding-bottom: 25%;
    }

    .tecnologias {
        width: 100%;
        margin-top: 10%;
    }

    .tecnologias a {
        margin-right: 10px;
    }

    .screen {
        margin-top: 10%;
    }

    .screenAllNew,
    .screenAromas {
        width: 80vw;
        height: 40vw;
    }

    .container {
        padding-top: 60px;
    }

}



